<html>
    <head>
        <title>Блог Django_IT</title>
    </head>
    <body>
        <body background="https://artfiles.alphacoders.com/858/thumb-1920-85819.jpg">

        <div>
            <h1><a href="/">Блог Django_IT</a></h1>
        </div>

        <div>
            <p>опубликовано: 25.03.2021, 19.00</p>
            <h2><a href="">Мой первый поход в магазин</a> </h2>
            <p>Купил пельмений "Мираторг"</p>
        </div>

        <div>
            <p>опубликовано: 25.03.2021, 19.02</p>
            <h2><a href="">Мой второй поход в магазин</a></h2>
            <p>Купил пельмений "Телятино"</p>
        </div>
        
        <h1>HTML Изображение</h1>

        <img src="https://oboi.ws/filters/kelvin_17_1065_oboi_creeper_1920x1080.jpg" alt="Изображение SchoolsW3.com" width="1000" height="1000">
        <h1>HTML Кнопка</h1>

        <button>майнкрааааафт</button>
    </body> 
    <p>майнкрааааафт</p>
    <p>это моя жиизнь!</p>
    


</html>